
body {
    font-family: Georgia, "Times New Roman", Times, serif;
  }

.jumbotron {
    background-image: url('imagenes/Natiruts4.jpg');
    background-size: 70%;
    background-position-y: 15%;
    background-position-x: 80%;
    border-block-end-color: black;
    color: rgb(226, 241, 241);
    text-align: start;
    
    
    
       
  }

  